<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>用户列表</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}" media="all"/>
</head>
<body>
    <form class="layui-form bg-form" id="inputForm" action="/page/user/list" method="post">
        <input type="hidden" id="pageNo" name="pageNo" th:value="${page.pageNum}"/>
        <input type="hidden" id="pageSize" name="pageSize" th:value="${page.pageSize}"/>
        <input type="hidden" id="pageTotal" th:value="${page.total}"/>
        <input type="hidden" id="msg" th:value="${msg}"/>
        <div class="layui-form-item">
            <div class="layui-inline   bg-Btn">
                <div class="layui-input-inline">
                    <button class="layui-btn" type="submit" id="subBtn">查询</button>
                    <a class="layui-btn" th:href="@{/page/user/form}">添加</a>
                </div>
            </div>
            <div class="layui-row">
                <div class="form-group">
                    <label for="nickName" class="bg-form-label">姓名：</label>
                    <div class="layui-input-inline">
                        <input id="nickName" type="text" name="nickName" maxlength="60" class="layui-input" th:value="${user.nickName}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="bg-form-label">手机号：</label>
                    <div class="layui-input-inline">
                        <input id="phone" type="text" name="phone" maxlength="11" class="layui-input" th:value="${user.phone}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="bg-form-label">创建时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="start_createDate"  id="start_createDate" lay-verify="required" placeholder="yyyy-MM-dd"  class="layui-input" th:value="${user.startCreateDate}">
                    </div>
                    <div class="layui-input-inline bg-cent">
                        <span> ~</span>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="end_createDate"   id="end_createDate" lay-verify="required" placeholder="yyyy-MM-dd"  class="layui-input" th:value="${user.endCreateDate}">
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="form-group">
                    <label  for="state" class="bg-form-label">状态：</label>
                    <div class="layui-input-inline">
                        <select id="state" name="state" lay-verify="required">
                            <option>请选择</option>
                            <option adds:dict="getSelect:state, ${user.state}"></option>
                            <!--<option value="0" th:selected="${user?.state eq '0'} ? true : false">激活</option>
                            <option value="1" th:selected="${user?.state eq '1'} ? true : false">冻结</option>-->
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="layui-fluid">
        <table class="layui-table  bg-table" id="table"  lay-filter="table-data">
            <thead>
            <tr>
                <th lay-data="{field:'nickName',width:100}">姓名</th>
                <th lay-data="{field:'phone',width:120}">手机号</th>
                <th lay-data="{field:'sex',width:60}">性别</th>
                <th lay-data="{field:'autograph'}">个性签名</th>
                <th lay-data="{field:'state',width:60}">状态</th>
                <th lay-data="{field:'createDate'}">创建时间</th>
                <th lay-data="{field:'updateDate'}">修改时间</th>
                <th lay-data="{field:'operation', align: 'center',width: 180,fixed: 'right'}">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${page.list}">
                <td th:text="${user.nickName}"></td>
                <td th:text="${user.phone}"></td>
                <td adds:dict="getLabel:sex,${user.sex}"></td>
                <td th:text="${user.autograph}"></td>
                <td adds:dict="getLabel:state,${user.state}"></td>
                <!--<td th:text="${user.state eq  '0'  } ?'激活':'冻结'"></td>-->
                <td th:text="${#dates.format(user.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#dates.format(user.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <div class="layui-btn-group">
                        <a class="layui-btn layui-btn-sm" th:href="@{'/page/user/form?id=' + ${user.id}}">修改</a>
                        <a class="layui-btn layui-btn-danger layui-btn-sm" th:href="@{'/page/user/delete?id=' + ${user.id}}">删除</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="paging"></div>
    </div>
</body>
<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/common/util.js}"></script>
</html>