<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1><span th:text="${test}"></span>直接从model那的数据</h1>
<p>[[${test1}]]<a onclick="aa();">点我</a></p>

<script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
<script th:inline="javascript">
    var test = [[${test}]];
    console.log(test);
</script>
<script>
    function aa() {
        alert(1);
    }
</script>
</body>
</html>