<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace填写mapper映射文件关联的dao接口类（全限定名） -->
<mapper namespace="com.zyz.dao.RoleMapper">

    <insert id="save" parameterType="com.zyz.bean.Role">
        <![CDATA[
            insert into t_role(name, description) values(#{name}, #{description})
        ]]>
    </insert>

</mapper>